body
{
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #eee;
	font: 1em/1.2 "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

.header
{
	color: #fff;
	background: #999;
	padding: 1em 1.25em;
}

.header-heading { margin: 0; }

p
{
	margin: 0 0 1.5em;
	line-height: 1.5;
}
