

body {
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753;
	margin: 0;
	padding: 0;
}

header {
  margin: 0;
	padding-top: 20px;
	height: 87px;
	color: #333;
	background-color: #eee;
}

header h1 {
		margin-top: 10px;
		display: block;
		width: 219px;
		height: 87px;
		float: left;
		background-color: #eee;
}

header h2 {
	margin-top: 58px;
	margin-bottom: 40px;
	width: 200px;
	height: 18px;
	float: left;
	background-color: #eee;
}

nav ul{
  margin: 0;
  display: inline;
}

nav ul li {
  background: #eee;
  color #333;
  display: inline-block;
  list-style-type: none;
}

nav ul li a {
  color: #333;
}

main p {
  color: #333;
}

main h3 {
  color: #333;
}
